.DS_Store
/.build
build
/Packages
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
expense-app/project.xcworkspace/xcshareddata/swiftpm/Package.resolved